<%= stylesheet_link_tag 'sessions' %>

<div class="container" id="sign-in-container" >

    <h3>
    Sign In
    </h3>
    <%= form_with(url: session_path, local: true) do |f| %>
    <span id="demo-styling" >Demo Sign In as Coach:</span><br>
    <span id="demo-styling" >Email: carry-hayes@gymook.com</span><br>
    <span id="demo-styling" >Password: supersecret</span><br> <br>
    <span id="demo-styling" >Demo Sign In as Client:</span><br>
    <span id="demo-styling" >Email: matthew-heathcote@gymook.com</span><br>
    <span id="demo-styling" >Password: supersecret</span><br> <br>
        
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>
        

        
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>
        
        <br>
        <%= f.submit "Sign In", class: "btn btn-secondary bg-light text-secondary" %>
    <% end %>
    
</div>

