<ul class="occurence-list">
    <% @occurences.each do |occurence| %>
        <li id="<%= dom_id(occurence) %>" >
            <h6>
                <% if user_is_coach? %>
                    <%= link_to(
                        occurence.gym_class.class_type ,
                        gym_class_path(occurence.gym_class.id),
                        class: "text-secondary"
                    )%>
                <% else %>
                <%= occurence.gym_class.class_type %>
                <% end %>
                Class on 
                <%= occurence.start_time.strftime("%A") %> 
                <%= occurence.start_time.strftime("%b") %>.
                <%= occurence.start_time.strftime("%-d") %>: 

            </h6>
            <p>
                
                <% if user_is_coach? %>
                    <%= link_to(
                        "This #{occurence.gym_class.class_type}", 
                        occurence_path(occurence.id), 
                        class: "text-secondary" 
                    )%>
                <% else %>
                    <%= occurence.gym_class.class_type %>
                <% end %>
                starts on 
                <%= occurence.start_time.strftime("%A") %> at 
                <%=occurence.start_time.strftime("%l:%M%P")  %> and 
                ends at <%= occurence.end_time.strftime("%l:%M%P") %>. This class was
                created by Coach <%= occurence.user.full_name %> 
                <%= time_ago_in_words(occurence.created_at) %> ago.
                
                <small>
                    <% if user_is_client? %>
                        <% booking = occurence.bookings.find_by(user: current_user) %>
                        <% if booking.present? %>
                            <%= link_to(
                                "Cancel Booking", 
                                booking_path(booking.id), 
                                method: :delete, 
                                data: {
                                    confirm: "Are you sure you want to cancel this booking? You will not be refunded right away. Please visit a coach staff at the gym to receive a refund where eligible."
                                },
                                class: "text-secondary" 
                            )%>
                        <% else %>
                            <%= link_to(
                                "Book Class", 
                                occurence_bookings_path(occurence.id), 
                                method: :post, 
                                data: {
                                    confirm: "Are you sure want to book this class?"
                                },
                                class: "text-secondary"
                            )%>
                        <% end %>
                    <% end %>
                </small> <br>
                <% if user_is_coach? %>
                    <small>
                        <% if occurence.active? && can?(:archive, occurence) %>
                            <%= link_to(
                                "Archive Occurence", 
                                occurence_occurence_archivings_path(occurence), 
                                method: :post, 
                                data: { 
                                    confirm: "Are you sure you want to archive this occurence?"
                                }, 
                                class: "text-secondary mb-2"
                                ) 
                            %>
                        <% elsif occurence.archived? && can?(:activate, occurence) %>
                            <%= link_to(
                                "Activate Occurence",
                                occurence_occurence_archivings_path(occurence),
                                method: :post,
                                data: {
                                    confirm: "Are you sure you want to activate this occurence?"
                                },
                                class: "text-secondary mb-2"
                                ) 
                            %>
                        <% end %>
                    </small>
                <% end %>
            </p>
        </li>
    <% end %>
</ul>