<h4>Occurences of <%= @gym_class.class_type %></h4>
<% @occurences.each do |occurence| %>
    <li id="<%= dom_id(occurence) %>" >
        <h6>
            The <%= occurence.gym_class.class_type %> on 
            <%= occurence.start_time.strftime("%A") %> 
            <%= occurence.start_time.strftime("%b") %>.
            <%= occurence.start_time.strftime("%-d") %>: 

        </h6>

        <p>
            This <%= link_to(occurence.gym_class.class_type, gym_class_occurence_path(@gym_class.id, occurence.id), class: "text-secondary") %> 
            class starts on 
            <%= occurence.start_time.strftime("%A") %> at 
            <%=occurence.start_time.strftime("%l:%M%P")  %> and 
            ends at <%= occurence.end_time.strftime("%l:%M%P") %>.
        </p>
        <% if can?(:delete, occurence) %>
            <small>
                <%= link_to(
                    "Delete Occurence",
                    gym_class_occurence_path(@gym_class.id, occurence.id),
                    method: :delete,
                    data: {
                        confirm: "Are you sure you want to delete this occurence?"
                    }, class: "text-secondary"
                ) %>
            </small>
        <% end %>
    </li>
<% end %>