<h1><%= @gym_class.class_type %></h1>

<p> <%= @gym_class.description %> </p>

<div>
    <small>
        Priced at: $<%= @gym_class.cost %>
    </small>
    <small>
        Created at: <%= @gym_class.created_at %>
    </small>
    <small>
        Updated: <%= @gym_class.updated_at %>
    </small>
</div>

