<!DOCTYPE html>
<html>
  <head>
    <title>Gymook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <main>
      <%= link_to("Home Page", root_path) %>
    </main>
    <%= yield %>
  </body>
</html>
