<!DOCTYPE html>
<html>
  <head>
    <title>Gymook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <header>
      <%= link_to("Home Page", root_path) %>
      |
      <%= link_to("New Gym Class", new_gym_class_path) %>
      |
      <%= link_to("Gym Classes", gym_classes_path ) %>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
